/* GLOBAL SCOPE*/

a{
    text-decoration: none;
    color:cadetblue;
}

.page-wrapper{
    margin:50px;
}

h1, h2, h3, p{
    display:block;
    margin:20px;
    text-align: center;
    position:relative;
}

/* END Global */

/* INTRO SECTION */

#zen-intro{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#zen-intro h1, #zen-intro h2,#zen-intro h3,#zen-intro p{
    display:block;
    margin:20px;
    text-align: center;
    position:relative;
    top:260px;
}

#zen-intro div, #zen-intro header{
    margin-bottom: 20px;
}

header{
    display:inline-block;
    flex: 1 1 60%;
    border:4px solid brown;
    position:relative;
    background-image: url(pictures/pexels-photo-135526.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height:600px;
}

header > h1,h2{
    -ms-transform: rotate(1deg); /* IE 9 */
    -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
    transform: rotate(1deg);
    font-family: 'Poiret One', cursive;
    font-size: 35px;
    color:beige;

}

#zen-summary{
    position:relative;
    display:inline-block;
    flex: 1 1 35%;
    text-align: center;
    font-family: 'Lobster', Cursive;
    font-size: 25px;
   
}

#zen-summary p::before, p::after{
    content: '"';
}



#zen-preamble{
    flex:1 1 33%;
    display:block;
    background-image: url(pictures/pexels-photo-112811.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    height:900px;
    margin-left: 40%;
}

#zen-preamble h3,#zen-preamble p{
    top:250px;
    margin: 20px 80px 20px 80px;
    font-family: 'Poiret One', cursive;
    font-size: 1.4em;
    font-weight: bold;
    
    text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF; 
}

/* END Zen-intro section */

/* ZEN supporting Div */

#zen-supporting{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#zen-supporting > div{
    position:relative;
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 20px;
}

#zen-explanation{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 60%;
    align-content: flex-start;
    
    background-image: url(pictures/pexels-photo-60230.jpeg);
    background-position: center;
    height:600px; 
}

#zen-explanation > h3{
    flex: 1 1 100%;
    height:50px;
}

#zen-explanation > p{
    flex: 1 1 30%;
    padding:10px;
    background-color: RGBA(200, 200, 210, 0.6);
    border-radius: 3px;
    font-family: 'Trirong', serif;
    font-size: 20px;
    color:white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    
}

#zen-participation{
    display:inline-block;
    flex: 1 1 35%;
    font-family: 'Trirong', serif;
    font-size: 16px;
}

#zen-participation > p{
    margin:10px;
}


#zen-benefits{
    flex:1 1 33%;
    display:block;
    background-image: url(pictures/hand-notes-holding-things.jpg);
    background-position: center;
    height:600px;
    margin-left: 40%;
}

#zen-benefits > p, #zen-benefits > h3{
    position:relative;
    display:block;
    top:160px;
    width:24%;
    margin-left: 24%;
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
    transform: rotate(3deg);
    font-family: 'Indie Flower', cursive;
    font-size: 1.1em;
    margin-bottom: 10px;
    margin-top: 10px;
}

#zen-requirements{
    flex:1 1 100%;
    display:block;
    background-image: url(pictures/pexels-photo-27665.jpg);
    background-position: center;
    text-align: center;
    height:800px;
    
    font-family: 'Poiret One', cursive;
    font-size: 1.5em;
    color:floralwhite;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

#zen-requirements p:nth-child(2){
    margin:20px 2% 20px 15%;
}

#zen-requirements p:nth-child(3){
    margin:20px 2% 20px 18%;
}

#zen-requirements p:nth-child(4){
    margin:20px 2% 20px 18%;
}

#zen-requirements p:nth-child(5){
    margin:20px 2% 20px 10%;
}


footer{
    flex: 1 1 100%;
    display:block;
    position:relative;
    height:20px;
    text-align: center;
    background-color: #F6F6F6;
    
}

/* END supportive */


/* ASIDE */
.wrapper{
    display:flex;
    flex-direction: row;
    background-color: #F6F6F6;
}

.wrapper h3{
    text-align: left;
}

#design-selection{
    flex:1 1 33%;
}

#design-archives{
    flex: 1 1 33%;
}

#zen-resources{
    flex:1 1 33%;
}
/* END Aside */

/* @MEDIA */

/* Allign Text Inside picture textbook */
@media (max-width:1455px){
    #zen-benefits > p, #zen-benefits > h3{
        width:26%;
        margin-left: 22%;
    }
    
    

@media (max-width:1350px){
    #zen-benefits > p, #zen-benefits > h3{
        width:28%;
        margin-left: 20%;
    }
}
    
    
@media (max-width:1255px){
    #zen-benefits > p, #zen-benefits > h3{
        width:30%;
        margin-left: 18%;
    }
}

@media (max-width:1180px){
    #zen-benefits > p, #zen-benefits > h3{
        width:32%;
        margin-left: 16%;
    }
}
    
@media (max-width:1115px){
    #zen-benefits > p, #zen-benefits > h3{
        width:34%;
        margin-left: 14%;
    }
}

@media (max-width:1055px){
    #zen-benefits > p, #zen-benefits > h3{
        width:36%;
        margin-left: 12%;
    }
}
    
@media (max-width:1005px){
    #zen-benefits > p, #zen-benefits > h3{
        width:38%;
        margin-left: 10%;
    }
}

@media (max-width:950px){
    #zen-benefits > p, #zen-benefits > h3{
        width:40%;
        margin-left: 8%;
    }
}
    
@media (max-width:900px){
    #zen-benefits > p, #zen-benefits > h3{
        width:44%;
        margin-left: 5%;
    }
}

/* END allign text in picture textbook */

    
/* allign requirements text */
    
@media (max-width:1300px){
   
    #zen-requirements p:nth-child(2){
    margin:10px 2% 10px 10%;
    }

    #zen-requirements p:nth-child(3){
        margin:10px 2% 10px 13%;
    }

    #zen-requirements p:nth-child(4){
        margin:10px 2% 10px 10%;
    }

    #zen-requirements p:nth-child(5){
        margin:10px 2% 10px 6%;
    }
}


@media (max-width:1070px){
    
    #zen-requirements p:nth-child(2){
    margin:10px 2% 10px 2%;
    }

    #zen-requirements p:nth-child(3){
        margin:10px 2% 10px 2%;
    }

    #zen-requirements p:nth-child(4){
        margin:10px 2% 10px 2%;
    }

    #zen-requirements p:nth-child(5){
        margin:10px 2% 10px 2%;
    }
    
    #zen-requirements{
        font-size:1.45em;
    }
}

/* END allign requirements text */
