

/* övning 6.1-6.3 */

main{
    position:relative;
    margin:auto;
}

.text{    
    position:relative;

    flex-flow: row;
}


.text img{
    float:right;
    width:300px;
    height:300px;
    
}

.tableDiv{
    display:table;
    position:relative;
    margin:auto;
   
    
}

.tableRow div{
    display:table-cell;
    position:relative;
    margin:40px;
}

.tableDiv div img{
    padding-left:50px;
    padding-right:50px;
    width:200px;
    height:200px;
}

.tableRow{
    display:table-row;
    
}

#flexParent{
    position:relative;
    display:flex;
    margin:auto;
    height:785px;
    background-color: #AEA391;
    border-radius: 3px;
    flex-wrap:wrap;
    align-items: center;
     justify-content:space-between;
}

.flexItem{
    margin:auto;
    flex-wrap:wrap;
    padding:5px;
   
    
}

header {
    background-color: #FFEDB9;
    flex-direction: row;
    width:100%;
    height:5em;
    flex-grow:10;
    border-radius: 5px;
    margin:5px;
}

footer{
    background-color: #FFEDB9;
    flex-direction: row;
    order:4;
    width:100%;
    height:5em;
    flex-grow: 10;
    border-radius: 5px;
    margin:5px;
}

nav{
    background-color: #CBCCFF;
    order:1;
    flex-flow: column;
    flex-grow:20;
    height:600px;
    border-radius: 5px;
    margin-left:5px;
}

article{
    background-color: #DEDE84;
    order:2;
    flex-grow:60;
    height:600px;
    border-radius: 5px;
    margin-right:5px;
    margin-left:5px;
}

aside{
    background-color: #CBCCFF;
    order:3;
    flex-flow: column;
    flex-grow:20; 
    height:600px;
    border-radius: 5px;
    margin-right:5px;
}

