/* CSS övning 7 */


.flexContainer{
    display:flex;
    justify-content:center;
   
    height:800px;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexItem{
    border: 1px solid #686868;
    position:relative;
    order:1;
    border-radius:6px;
    margin:10px;
    width:20rem;
    height:10rem;
    background-color: cornflowerblue;
    
}

#colorDiv{
    margin:10px;
    order:2;
    position:relative;
    border-radius: 7px;
    height:200px;
    width:100%;
    border:0.5px solid lightGray;
}

#white{
    display:none;
    padding:5px;
}

#gold{
    display:none;
    padding:5px;
}

#cadetBlue{
    display:none;
    padding:5px;
}

#orangeRed{
    display:none;
    padding:5px;
}

#darkCyan{
    display:none;
    padding:5px;
    
}

/* ------------------ Media Queries -------------------------- */
@media only screen and (min-width:600px) and (max-width:1050px){
    .flexContainer{
        flex-direction: column;
        align-items:center;
    }
    
}

/* colorDiv */
@media only screen and (max-width:600px){
    #colorDiv{
        background-color:#FFF
    }
    #white{
        display:inline;
    }
}

@media only screen and (min-width:601px) and (max-width:750px){
    #colorDiv{
        background-color:#FFD700;
    }
    #gold{
        display:inline;
    }
}

@media only screen and (min-width:751px) and (max-width:900px){
    #colorDiv{
        background-color:#5F9EA0;
    }
    #cadetBlue{
        display:inline;
    }
}

@media only screen and (min-width:901px) and (max-width:1050px){
    #colorDiv{
        background-color:#FF4500;
    }
    #orangeRed{
        display:inline;
    }
}

@media only screen and (min-width:1051px){
    #colorDiv{
        background-color:#008B8B;
    }
    #darkCyan{
        display:inline;
    }
}


