#button{
    border: 1px solid black;
    background-color: #BCBCBC;
    border-radius:3px;
    padding:3px;
    display:block;
    height:18px;
    width:80px;
    
}



#btnBackground{
    display:block;
    background-color: white;
    height:22px;
    width:84px;
}

#btnBackground:active{
    display:block;
    background-color:blue;
}

p{
    font-family: 'lobster';
}